/* GENERAL */
html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  font-family: $font-stack;
  font-weight: 500px;
  font-size: 15px;
  line-height: 22px;
  color: #222;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}