/* CONTAINER */
.container{
  width: 100%;
  max-width: 1350px;
  padding-left: 45px;
  padding-right: 45px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}