/* HEADER-BETWEEN */
.header-between__link{
  display: inline-block;
  flex-shrink: 0;
}

.header-between__img{
  display: block;
}

.header-between__form{
  display: flex;
  background: #F9F9F9;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 10px 16px 9px 16px;
  align-items: center;
}

.header-between__select{
  border: none;
  background-color: transparent;
  margin-right: 24px;
  padding-right: 18px;
}

.header-between__input{
  width: 262px;
  border: none;
  background-color: transparent;
  margin-left: 15px;
  margin-right: 24px;
}

.header-between__button{
  width: 16px;
  height: 16px;
  background-image: url(../../img/ic-actions-search.svg);
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  background-color: transparent;
  padding-top: 13px;
  padding-right: 16px;
}

.header-between__contact-link{
  display: inline-block;
  margin-right: 38px;
}

.header-between__basket-link{
  display: inline-block;
  position: relative;
  z-index: 1;
}

.header-between__basket-counter{
  position: absolute;
  top: 40%;
  left: -30%;
  min-width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  color: #fff;
  border-radius: 12px;
  background-color: #E5704B;
  box-shadow: 0 2px 5px 0 rgba(80, 77, 77, 0.575);
}

